@viewport{
    width: device-width;
    zoom: 1;
}
body{
    margin: 0;
    padding:0;
    background-image: url('undraw_Login_re_4vu2.svg');
    background-position: center;
    background-size: cover;
    height:100vh;
    max-height: 100%;
    
}
.avatar{
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox{
    width:320px;
    height:420px;
    background: rgb(184, 182, 182);
    color:blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-sizing: border-box;
    border-radius: 2%;
    padding: 70px 30px;
    max-height: 100%;
}
h1{
    margin-top: 20px;
    text-align: center;
    padding: 0 0 20px;
    font-family: monospace;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
a{
    margin-right: 20px;

}
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid rgb(136, 133, 133);
    background: transparent;
    outline: none;
}
.login button{
    width:100%;
    margin-bottom: 20px;
    margin-top: 10px;
}